<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>pagina vuelos</title>
  <link rel="shortcut icon" type="image" href="../static/img/group-2@2x.svg">
  <link rel="stylesheet" href="../static/css/estilo.css" />
</head>

<body>
  <div class="container-center-horizontal">
    <div class="macbook-1screen">
      <div class="overlap-group7">
        <img clas="group-2" src="../static/img/tim-muangkeo-tqrss4bzbei-unsplash-1@1x.png">
        <img class="logo" src="../static/img/group-2@2x.svg" />
        <div class="text-1">Alaska, Estados Unidos</div>
        <div class="group-4">
          <div class="overlap-group4">
            <button class="ver-mas-vuelos-1">Ver mas vuelos</button>
            <img class="vector-1" src="../static/img/vector-2@2x.svg" />
          </div>

          <h1 class="x40-de-descuento">
            <span class="span0">40%<br /></span><span class="span1">De Descuento</span>
          </h1>
        </div>
      </div>

      <div class="overlap-group9">
        <img class="rectangle-2" src="../static/img/rectangle-2@2x.svg" />
        <a class="iniciar-sesion" href="{{ url_for('login')}}">Iniciar sesion</a>
        <div class="ellipse-1"></div>
      </div>

      <div class="overlap-group11">
        <div class="place">Ibiza</div>
      </div>
      <div class="overlap-group8">
        <div class="place-1">Dubai</div>
      </div>
      <div class="overlap-group10">
        <div class="place-2">New york</div>
      </div>


      <div class="text-2">Descubre nuevos lugares</div>
      <div class="text-3">Lorem ipsum dolor sit amet,</div>
      <div class="vuelos-nacionales">Vuelos nacionales</div>
      <div class="text-4">Vuelos internacionales</div>
      <div class="text-5">Destinos mas populares</div>
      <div class="frame-5">
        <div class="rectangle-6">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-7">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-8-1">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-9-1">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>
      </div>

      <div class="frame-6">
        <div class="rectangle-6">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-7">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-8-1">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>

        <div class="rectangle-9-1">
          <div class="overlap-group">
            <div class="rectangle-10"></div>
            <div class="rectangle-11"></div>
          </div>

          <div class="rectangle-8"></div>
          <div class="rectangle-9"></div>
          <img class="vector" src="../static/img/vector@2x.svg" />
        </div>
      </div>

      <div class="group-5">
        <div class="overlap-group-1">
          <button class="ver-mas-vuelos">Ver mas vuelos</button>
        </div>
      </div>

      <div class="group-6">
        <div class="overlap-group-1">
          <button class="ver-mas-vuelos">Ver mas vuelos</button>
        </div>
      </div>
      <div class="rectangle-12"></div>
    </div>
  </div>
</body>

</html>

<link rel="stylesheet" href="{{ url_for('static',filename='css/estilo.css') }}">